body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: transparent;
    color: white;
    padding: 150px;
    text-align: center;
}

.slogan {
    background-color: transparent;
    color: white;
    padding: 150px;
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.home-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.content {
    background-color: transparent;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.user-story {
    background-color: transparent;
    color: Black;
    font-size: 37;
}
